{% extends '@App/base.html.twig' %}
{% block body %}
    	<div class="py-5 text-center">
	    <h2 style="font-family: Raleway">Scoreboard Input</h2>
	</div>
	<div class="row">
	    <div class="col-sm-12 col-md-8 offset-md-2">
    	    <div class="col-sm-4 btn-group-vertical float-left team" role="group" data-team_id="{{ teams[0].id }}">
	        	<div>
                    <span class="span-team-name">{{ teams[0].name }}</span>: <span class="span-team-score">{{ teams[0].score }}</span>
                </div>
                <div class="divider">
                    &nbsp;
                </div>
	        	<div>
	        	    <input type="number" class="form-control text-score-input">
		            <button type="button" class="btn btn-outline-primary btn-set-score">Set Score</button>
	        	</div>
                <div class="divider">&nbsp;</div>
    	    	<button type="button" class="btn btn-outline-primary btn-add-points" data-points="3">+3 Points</button>
	        	<button type="button" class="btn btn-outline-primary btn-add-points" data-points="2">+2 Points</button>
	        	<button type="button" class="btn btn-outline-primary btn-add-points" data-points="1">+1 Point</button>
        		<button type="button" class="btn btn-outline-primary btn-minus-points" data-points="1">-1 Point</button>
    	    </div>
	        <div class="col-sm-4 btn-group-vertical float-left timer" role="group" data-minutes="{{ timer.minutes }}" data-seconds="{{ timer.seconds }}" data-milliseconds="{{ timer.milliseconds }}">
                <div>
                    Timer: <span class="span-game-timer"></span>
                </div>
                <div class="divider">&nbsp;</div>
                <div>
                    <div class="row">
                        <div class="col-sm-4" style="padding-right: 6px;">
	        	            <input type="number" class="form-control game-timer-minute-input" min="0" max="10"/>
                        </div>
                        <div class="col-sm-4" style="padding-right: 10px; padding-left: 10px;" min="0" max="59">
	        	            <input type="number" class="form-control game-timer-seconds-input"/>
                        </div>
                        <div class="col-sm-4" style="padding-left: 5px;" min="0" max="9">
	        	            <input type="number" class="form-control game-timer-milliseconds-input"/>
                        </div>
                    </div>
		            <button type="button" class="btn btn-outline-primary btn-set-timer">Set Timer</button>
                </div>
                <div class="divider">&nbsp;</div>
	    	    <button type="button" class="btn btn-outline-primary btn-start-timer">Start</button>
    	    	<button type="button" class="btn btn-outline-primary btn-stop-timer">Stop</button>
	        	<button type="button" class="btn btn-outline-primary">Poss Arrow</button>
    	    </div>
	        <div class="col-sm-4 btn-group-vertical float-left team" role="group" data-team_id="{{ teams[1].id }}">
	        	<div>
                    <span class="span-team-name">{{ teams[1].name }}</span>: <span class="span-team-score">{{ teams[1].score }}</span>
                </div>
                <div class="divider">&nbsp;</div>
	        	<div>
	        	    <input type="number" class="form-control text-score-input">
		            <button type="button" class="btn btn-outline-primary btn-set-score">Set Score</button>
	        	</div>
                <div class="divider">&nbsp;</div>
    	    	<button type="button" class="btn btn-outline-primary btn-add-points" data-points="3">+3 Points</button>
	        	<button type="button" class="btn btn-outline-primary btn-add-points" data-points="2">+2 Points</button>
	        	<button type="button" class="btn btn-outline-primary btn-add-points" data-points="1">+1 Point</button>
        		<button type="button" class="btn btn-outline-primary btn-minus-points" data-points="1">-1 Point</button>
    	    </div>
	    </div>
	</div>
	<div class="text-center align-content-center w-100">
        	<div class="divider">&nbsp;</div>
        		<span class="align-middle">
            			<a role="button" href="/scoreboard" class="btn btn-primary" style="width:200px">Home</a>
				<a role="button" href="/scoreboard/view" class="btn btn-primary" style="width:200px">View</a>
        		</span>
	</div>

{% endblock %}

{% block javascript %}
    <script src="/js/Scoreboard/input-main.js"></script>
    <script src="/js/Scoreboard/input.js"></script>
    <script src="/js/Scoreboard/timer.js"></script>
{% endblock %}
