{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="py-5 text-center">
        <h2 style="font-family: Raleway">Games</h2>
	</div>
	<div class="row">
	    <div class="col-sm-12">
            <a href="{{ path('game_create') }}" class="btn btn-primary">Create Game</a>
            <ul class="list-group mt-3">
                {% for game in games %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-sm-6">
                                {{ game.homeTeam.name }} vs. {{ game.visitorTeam.name }}
                            </div>
                            <div class="col-sm-6">
                                <a href="{{ path('game_edit') }}" class="btn btn-default">Edit</a>
                                <a href="{{ path('game_controls', { id : game.id }) }}" class="btn btn-default">Controls</a>
                                <a href="{{ path('scoreboard_view') }}" class="btn btn-default">Scoreboard</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
	    </div>
	</div>
{% endblock %}

{% block javascript %}
{% endblock %}
